services:
  app:
    build: .
    ports:
      - "8080:8000"

    environment:
      - PYTHONUNBUFFERED=1

    healthcheck:
      test: ["CMD", "python", "-c", "import urllib.request; urllib.request.urlopen('http://localhost:8000/health/liveness').read()"]
      interval: 30s
      timeout: 3s
      retries: 3
      start_period: 5s
